.testimonials {
    margin: 80px auto;
    padding: 0 80px;
    position: relative;
    max-width: 1000px;
}

.next-btn, .back-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #212EA0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    z-index: 2;
}

.next-btn {
    right: 10px;
}

.back-btn {
    left: 10px;
}

.slider {
    overflow: hidden;
}

.slider ul {
    display: flex;
    width: 400%;
    transition: transform 0.5s ease;
    padding: 0;
    margin: 0;
}

.slider ul li {
    list-style: none;
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
}

.slide {
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
    padding: 40px;
    border-radius: 10px;
    color: #676767;
    line-height: 1.4;
    background: white;
}

.slide img {
    width: 65px;
    border-radius: 50%;
    margin-right: 10px;
    border: 4px solid #212EA0;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 15px;
}

.user-info h3 {
    color: #212EA0;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .slider ul li {
        width: 100%;
    }

    .slider ul {
        width: 400%;
    }

    .next-btn, .back-btn {
        top: auto;
        bottom: -50px;
    }
}

